*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 18px;
}


.title {
    font-size: 70px;
    font-weight: 400;
    line-height: 78px;
    margin: 0;
    text-align: center;
    color: #515076;
}

.clear-list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 340px;
    height: 573px;
    top: 408px;
    left: 85px;
}


.card {
    background-color: #F7F7FA;
    padding: 25px;
    width: 100%;
}

.card__image {
  display: block;
}

.card__category {
    display: block;
    font-size: 13px;
    line-height: 18px;
    color: #8c8c8c;
    text-transform: uppercase;
    margin: 0;
    padding-top: 30px;
}


.products {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    width: 1135px;
    height: 1229px;
    padding-top: 137px;
}

.products__item {
    width: 340px;
    height: 573px;
    justify-content: center;
}

.card__name{
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    height: 27px;
    top: 737px;
    left: 110px;
    margin: 0;
    padding-top: 5px;
}

.card__description{
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    width: 287px;
    height: 36px;
    top: 769px;
    left: 110px;
    padding-top: 5px;
    margin: 0;
  }

.card__compound{
height: 87px;
padding-top: 15px;
}

.compound__name{
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    width: 49px;
    height: 18px;
    top: 820px;
    left: 110px;
    padding-left: 0;
    padding-top: 15px;
}

.compound__list{
    padding-left: 15px;
}

.card__price{
    width: 290px;
    height: 24px;
    top: 932px;
    left: 110px;
    padding-top: 25px;
    font-family: bold;
    font-size: 20px;
}

span{
  padding-left: 161px;
}

button{
    width: 150px;
    height: 50px;

}